.offer-box {
    border-radius: 10px;
    width: 38px;
    height: 19px;
    place-content: center;
    background-color: #ee2424;
    color: white;
}
.icon-fast-send{
    z-index: 1;
    margin-right: -10px;
    color: #1c9900;
}