.img-size-slider {
    width: 900px;
    height: 430px;
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    width: 900px;
    height: 430px;
    border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
    .swiper-container-autoheight {
        width:700px  !important;
        height: 430px  !important;
    }

    .img-size-slider {
        width: 700px !important;
        height:430px  !important;
    }
}

@media only screen and (max-width: 768px) {
    .swiper-container-autoheight {
        width:250px  !important;
        height: 170px  !important;
    }

    .img-size-slider {
        width: 280px !important;
        height:170px  !important;
    }
}